*.mp4
# *.png
# /cropped_frames/video1
# /cropped_frames/video2
# /cropped_frames/video3
# /cropped_frames/video4
# /cropped_frames/video5
# /cropped_frames/video6
# *.jpg
# /Clean Mouse.v11i.coco-segmentation/augmented_dataset_adaptive_final
# /cropped_frames